.realizacoes-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.realizacao {
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 80px; /* Tamanho da imagem */
    height: 80px;
    border-radius: 50%; /* Faz a imagem ficar circular */
    object-fit: cover; /* Para a imagem cobrir toda a área do círculo */
    margin-bottom: 10px;
}

.nome-patrocinador {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin: 0;
}
